* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#heading-bank,
#header-money {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 35px;
    color: purple;
}

#partial-heading,
#partial-money {
    color: crimson;
}

#bank-section {
    width: 70%;
    height: 100%;
    background-color: rgb(112, 45, 235);
    margin: 35px auto;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#login-heading {
    font-size: 23px;
    margin-bottom: 10px;
    color: white;
}

#user-email,
#user-password {
    border-radius: 5px;
    width: 55%;
    padding: 7px 10px;
    border: 0px;
    outline: 0px;
    margin-top: 10px;
}

#button-submit,
#button-deposit,
#button-withdraw {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    margin-top: 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    height: 40px;
    padding: 10px 20px;
    text-align: center;
}

#button-submit:hover {
    background-color: #F082AC;
}

#some-money-section {
    width: 80%;
    background-color: white;
    padding: 40px 20px;
    margin: 0px auto;
    display: flex;
    justify-content: center;

}

#deposit-division {
    height: 130px;
    width: 295px;
    background-color: magenta;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#deposit-title {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;

}

#deposit-money {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

#withdraw-division {
    height: 130px;
    width: 295px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#balance-division {
    height: 130px;
    width: 295px;
    background-color: purple;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



#deposit-calculation {
    width: 35%;
    background-color: springgreen;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#withdraw-calculation {
    width: 35%;
    background-color: skyblue;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#deposit-amount,
#withdraw-amount {
    border-radius: 5px;
    width: 85%;
    padding: 7px 10px;
    border: 0px;
    outline: 0px;
    margin-top: 10px;
}

#calculation {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}